# Віртуальне оточення (не треба на гітхабі)
venv/
env/

# Кеш пайтона
__pycache__/
*.pyc

# Налаштування VS Code
.vscode/

# Зазвичай базу даних теж не кидають, але
# оскільки це курсова і ти хочеш зберегти свої BMW/Toyota -
# ми цей рядок поки не пишемо.
# db.sqlite3